:root {
    --main-color: rgb(48, 50, 55);
    --bkg-color: rgb(29, 31, 33);
    --discord-blue: rgb(76, 87, 236);
    --discord-blue-hover: rgb(96, 107, 255);
}

main {
    text-align: left;
    max-width: 800px;
    display: inline-block;
    background: var(--main-color);
    padding: 50px;
    padding-bottom: 20px;
}

body {
    text-align: center;
    background: var(--bkg-color);
    color: white;
    font-family: sans-serif;
    font-size: 1.2em;
}

h2 {
    display: inline-block;
    --marker-begin: 60%;
    --marker-end: 90%;
    --marker-color: var(--discord-blue);
    background: linear-gradient(
            transparent var(--marker-begin),
            var(--marker-color) var(--marker-begin),
            var(--marker-color) var(--marker-end),
            transparent var(--marker-end)
    );
    margin-bottom: 0;
}

.category {
    border-radius: 10px;
    padding: 3px 3px 3px 10px;
    margin: 20px 0 0 0;
    font-weight: bold;
    background-color: var(--discord-blue);
    cursor: pointer;
}

.category:hover {
    background-color: var(--discord-blue-hover);
}

.channel {
    border-radius: 10px;
    background-color: var(--bkg-color);
    padding: 5px 20px;
    margin: 10px 0 10px 20px;
}

.latest-channel {
    margin: 10px 0 10px 0;
    border: 1px solid white;
    padding: 10px 20px;
}

#last-updated-field {
    color: gray;
    font-weight: bold;
    font-size: 0.8em;
}

#number-of-channels {
    font-weight: bold;
}

#latest {
    margin-bottom: 20px;
}

.channel-topic {
    color: gray;
    font-style: italic;
    font-size: 0.9em;
}

.channel-author {
    color: gray;
    font-size: 0.9em;
}

#credit {
    text-align: center;
    color: gray;
    padding-top: 20px;
    font-size: 30%;
}

.link-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: var(--discord-blue);
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.7em;
    color: white;
}

.link-button:hover {
    background-color: var(--discord-blue-hover);
}

hr {
    height: 0;
    margin: 5px 0;
    padding: 0;
    border: 0;
    border-top: 1px solid gray;
}

@media (max-width: 800px) {
    main {
        padding: 3%;
    }
}

@media (max-width: 500px) {
    body {
        background: var(--main-color);
        font-size: 1em;
    }
    main {
        padding: 5px;
        margin: 0;
    }
    h1 {
        font-size: 1.4em;
        text-align: center;
    }
}